.mb3 {
  margin-bottom: $space-3;
}

.p1 {
  padding: $space-1;
}

.fw-300 {
  font-weight: 300;
}

.center {
  text-align: center;
}

.absolute-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inline-list-2 {
  @include inline-list($space-2);
}
