$default-font-family: 'Open Sans', sans-serif;
$default-type-scale: 1.125;
$base-line-height: 1.5;

/* Returns $number raised to $exp. */
@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }
  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}

@function font-size($index, $type-scale: $default-type-scale) {
  $value: pow($type-scale, $index);
  @return $value * 1rem;
}

@function line-height($font-size, $line-height: $base-line-height) {
  @return ceil($font-size/$line-height) * ($line-height/$font-size);
}

@mixin set-type($index, $type-scale: $default-type-scale, $line-height: $base-line-height) {
  font-size: font-size($index, $type-scale);
  line-height: line-height(font-size($index, $type-scale), $line-height);
}

@mixin yotta {
  @include set-type(7);
}

@mixin zetta {
  @include set-type(6);
}

@mixin exa {
  @include set-type(5);
}

@mixin peta {
  @include set-type(4);
}

@mixin tera {
  @include set-type(3);
}

@mixin giga {
  @include set-type(2);
}

@mixin mega {
  @include set-type(1);
}

@mixin kilo {
  @include set-type(0);
}

html {
  font: normal 100%/#{$base-line-height} $default-font-family;
}

.yotta {
  @include yotta;
}

.zetta {
  @include zetta;
}

h1, .exa {
  @include exa;
}

h2, .peta {
  @include peta;
}

h3, .tera {
  @include tera;
}

h4, .giga {
  @include giga;
}

h5, .mega {
  @include mega;
}

h6, .kilo {
  @include kilo;
}

$space-1-2: #{$base-line-height / 2}rem;
$space-1: #{$base-line-height}rem;
$space-2: #{$base-line-height * 2}rem;

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dd, figure,
blockquote, details, hr,
fieldset, pre, table {
  margin: 0 0 $space-1;
}
