@import 'normalize';
@import 'typography';
@import 'helpers';

html, body {
  height: 100%;
}

.absolute-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front-matter {
  padding: $space-1-2;
  text-align: center;
}

.front-matter__title {
  @include yotta;
  margin-bottom: $space-1-2;
}

.front-matter__skills {
  @include mega;
  margin-bottom: $space-2;
  font-weight: normal;
}

.front-matter__navlist {
  @include inline-list($space-1);
}
