code > span.hll { background-color: #ffffcc }
code > span { background: #eee8d5; color: #586e75 }
code > span.c { color: #93a1a1; font-style: italic } /* Comment */
code > span.g { color: #d33682 } /* Generic */
code > span.k { color: #859900 } /* Keyword */
code > span.l { color: #2aa198 } /* Literal */
code > span.n { color: #268bd2 } /* Name */
code > span.ch { color: #93a1a1; font-style: italic } /* Comment.Hashbang */
code > span.cm { color: #93a1a1; font-style: italic } /* Comment.Multiline */
code > span.cp { color: #93a1a1; font-style: italic } /* Comment.Preproc */
code > span.cpf { color: #93a1a1; font-style: italic } /* Comment.PreprocFile */
code > span.c1 { color: #93a1a1; font-style: italic } /* Comment.Single */
code > span.cs { color: #93a1a1; font-style: italic } /* Comment.Special */
code > span.gd { color: #d33682 } /* Generic.Deleted */
code > span.ge { color: #d33682 } /* Generic.Emph */
code > span.gr { color: #d33682 } /* Generic.Error */
code > span.gh { color: #d33682 } /* Generic.Heading */
code > span.gi { color: #d33682 } /* Generic.Inserted */
code > span.go { color: #d33682 } /* Generic.Output */
code > span.gp { color: #d33682 } /* Generic.Prompt */
code > span.gs { color: #d33682 } /* Generic.Strong */
code > span.gu { color: #d33682 } /* Generic.Subheading */
code > span.gt { color: #d33682 } /* Generic.Traceback */
code > span.kc { color: #859900; font-weight: bold } /* Keyword.Constant */
code > span.kd { color: #859900 } /* Keyword.Declaration */
code > span.kn { color: #dc322f; font-weight: bold } /* Keyword.Namespace */
code > span.kp { color: #859900 } /* Keyword.Pseudo */
code > span.kr { color: #859900 } /* Keyword.Reserved */
code > span.kt { color: #859900; font-weight: bold } /* Keyword.Type */
code > span.ld { color: #2aa198 } /* Literal.Date */
code > span.m { color: #2aa198; font-weight: bold } /* Literal.Number */
code > span.s { color: #2aa198 } /* Literal.String */
code > span.na { color: #268bd2 } /* Name.Attribute */
code > span.nb { color: #cb4b16 } /* Name.Builtin */
code > span.nc { color: #cb4b16 } /* Name.Class */
code > span.no { color: #268bd2 } /* Name.Constant */
code > span.nd { color: #268bd2 } /* Name.Decorator */
code > span.ni { color: #268bd2 } /* Name.Entity */
code > span.ne { color: #268bd2 } /* Name.Exception */
code > span.nf { color: #268bd2 } /* Name.Function */
code > span.nl { color: #268bd2 } /* Name.Label */
code > span.nn { color: #268bd2 } /* Name.Namespace */
code > span.nx { color: #268bd2 } /* Name.Other */
code > span.py { color: #268bd2 } /* Name.Property */
code > span.nt { color: #268bd2; font-weight: bold } /* Name.Tag */
code > span.nv { color: #268bd2 } /* Name.Variable */
code > span.ow { color: #859900 } /* Operator.Word */
code > span.w { color: #586e75 } /* Text.Whitespace */
code > span.mb { color: #2aa198; font-weight: bold } /* Literal.Number.Bin */
code > span.mf { color: #2aa198; font-weight: bold } /* Literal.Number.Float */
code > span.mh { color: #2aa198; font-weight: bold } /* Literal.Number.Hex */
code > span.mi { color: #2aa198; font-weight: bold } /* Literal.Number.Integer */
code > span.mo { color: #2aa198; font-weight: bold } /* Literal.Number.Oct */
code > span.sb { color: #2aa198 } /* Literal.String.Backtick */
code > span.sc { color: #2aa198 } /* Literal.String.Char */
code > span.sd { color: #2aa198 } /* Literal.String.Doc */
code > span.s2 { color: #2aa198 } /* Literal.String.Double */
code > span.se { color: #2aa198 } /* Literal.String.Escape */
code > span.sh { color: #2aa198 } /* Literal.String.Heredoc */
code > span.si { color: #2aa198 } /* Literal.String.Interpol */
code > span.sx { color: #2aa198 } /* Literal.String.Other */
code > span.sr { color: #2aa198 } /* Literal.String.Regex */
code > span.s1 { color: #2aa198 } /* Literal.String.Single */
code > span.ss { color: #2aa198 } /* Literal.String.Symbol */
code > span.bp { color: #cb4b16 } /* Name.Builtin.Pseudo */
code > span.vc { color: #268bd2 } /* Name.Variable.Class */
code > span.vg { color: #268bd2 } /* Name.Variable.Global */
code > span.vi { color: #268bd2 } /* Name.Variable.Instance */
code > span.il { color: #2aa198; font-weight: bold } /* Literal.Number.Integer.Long */
