.front-matter
  header
    h1.front-matter__title Dwayne&nbsp;Crooks
    h2.front-matter__skills Software&nbsp;Developer
  footer
    nav
      ul.front-matter__navlist
        li
          a(title="Trini Coder" target="_blank" href="http://blog.dwaynecrooks.com/") Blog
        li
          a(title="Me on GitHub" target="_blank" href="https://github.com/dwayne") GitHub
        li
          a(title="Me on Twitter" target="_blank" href="https://twitter.com/dwaynecrooks") Twitter
        li
          a(title="Ask me anything" target="_blank" href="mailto:me@dwaynecrooks.com?subject=Hey") Email
