.front-matter
  header
    h1(title="Dwayne Crooks").front-matter__title Dwayne Crooks
    h2.front-matter__skills
      a(title="I believe that software is a craft. I take pride in my work and strive to do the best job that I can. Writing good software requires skill and careful attention. I practice my craft and I'm always striving to become more skillful in order to produce better software." target="_blank" href="http://blog.8thlight.com/micah-martin/2008/09/21/definition-of-software-craftsman.html") Software&nbsp;Craftsman
      =' '
      span &amp;
      =' '
      a(title="I'm a single founder who creates products for niche markets." target="_blank" href="http://changethis.com/manifesto/show/80.03.MicropreneurManifesto") Micropreneur
  footer
    nav
      ul.front-matter__navlist
        li
          a(title="Trini Coder" target="_blank" href="http://blog.dwaynecrooks.com/") Blog
        li
          a(title="My open source projects" target="_blank" href="https://github.com/dwayne") GitHub
        li
          a(title="I tweet about the stuff I'm working on via Twitter. Follow me there if you're interested" target="_blank" href="https://twitter.com/dwaynecrooks") Twitter
        li
          a(title="Say hi" target="_blank" href="mailto:me@dwaynecrooks.com?subject=Hi") Email
